.bordered {
    border: 1px solid white;
}

input[type="text"]:disabled {
    background-color: gray;
    
}

.finished {
    background-color: gray;
}

.invalid-input {
    background-color: yellow;
}